{% extends 'base.html' %}

{% block content %}
<div class="grid grid-cols-2 mt-10 gap-3">
    <div class="bg-white rounded shadow border border-black w-fit justify-self-end  p-5">
        {% include 'components/login.html' %}
    </div>
    <div class="bg-white rounded shadow border border-black w-fit p-5">
        {% include 'components/register.html' %}
    </div>
</div>
{% endblock content %}

{% block js %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock js %}