<form action="/user/login" method="post">
    <div class="mb-3 flex flex-col">
        <label class="text-xs text-center" for="login_cred">Battlename Or Email</label>
        <input class="input" type="text" name="login_cred" id="login_cred">
    </div>
    <div class="mb-3 flex flex-col">
        <label class="text-xs text-center" for="pw">Password</label>
        <input class="input" type="text" name="pw" id="pw">
    </div>
    <div class="mb-3">
        <button>Login</button>
    </div>
</form>